@font-face {
    font-family: 'montserratlight';
    src: url('/dist/fonts/montserrat-light-webfont.woff2') format('woff2'),
        url('/dist/fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('/dist/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
        url('/dist/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}